* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.side_bg_image {
  /* background-image: url(./images/Group\ 1000006491.png); */
  /* z-index: 5; */

  /* background-size: 100px 500px; */
}
.first-kick {
  background-color: #085881;
  display: flex;
  height: 400px;
  border-bottom-right-radius: 60% 50%;
  background-image: url(./images/Group\ 1000006491.png);
  /* background-position: top 0px right 30px; */
  background-repeat: no-repeat;
  /* margin-top: 90px; */
  z-index: -3;
}
.left_section {
  padding-left: 6rem;
  padding-top: 4.3rem;
  width: 45%;
  /* background-color: #911717; */
}
.right_section {
  width: 47%;
  /* margin-right: 10%; */
  padding-left: 5px;
}
#total {
  max-width: 700px;
  width: 100%;
  height: 490px;
  z-index: 2;
}
#circle {
  width: 190px;
  height: 75px;
  /* background-color: #33475b; */
}
.premium {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  letter-spacing: 1.2px;
  text-align: left;
  max-width: 480px;
  color: whitesmoke;
  line-height: 30px;
}
.heightlisght_premium {
  font-weight: 600;
  /* font-size: 22px; */
}
.left_section > h3 {
  font-size: 18px;
  margin-top: 30px;
  text-align: left;
  letter-spacing: 1px;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.main_box {
  padding-top: 15px;
}
#sim {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  background-repeat: 0;
}
#rotat {
  width: 25px;
  height: 25px;
  border-radius: 0px;
}
/* @media (max-width: 1136px) {
  .left_section {
    padding-left: 1rem;
    /* padding-top: 1rem; */
/* width: 40%;
  }
  #total {
    max-width: 800px;
    height: 400px;
  }
  .first {
    height: 500px;
  } */
/* } */
/* @media (max-width: 1136px) {
  .first {
    flex-direction: column;
    justify-content: center;
    height: 650px;
  }
  .left_section {
    width: 100%;
    padding-left: 10%;
  } */
/* .right_section {
    width: 100%;
    display: flex;
    justify-content: center;
  }
} */
/* @media (max-width: 539px) {
  #total {
    max-width: 500px;
  }
  .left_section {
    text-align: center;
  }
  .right_section {
    padding-left: 10px;
  }
  .main_box {
    text-align: left;
  } */
/* } */
/* @media (max-width: 529px) {
  #total {
    max-width: 400px;
  }
}
@media (max-width: 423px) {
  #total {
    max-width: 300px;
  }
} */
/* ************************************************************** */
.second-service {
  background: #faf8f8;
  text-align: center;
  margin-top: 100px;
}
.service {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  /* line-height: 50px; */
  letter-spacing: 0.01em;
  padding-top: 6rem;
  color: #33475b;
}
.main_img {
  /* margin-top: 5rem; */
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.bepo {
  margin: 50px 45px;
}
#ux,
#web,
#qa {
  width: 85px;
  height: 85px;
}
.bepo > p {
  padding-top: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #33475b;
}
/* @media (max-width: 473px) {
  .one {
    margin: 30px 30px;
  }
  .service {
    padding-top: 3rem;
  }
} */
/* @media (max-width: 772px) {
  #ux,
  #web,
  #qa {
    width: 120px;
    height: 120px;
  }
  .one > p {
    padding-top: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: #33475b;
  }
} */
/* ********************************************** */
.third-wireframe {
  text-align: center;
  margin-top: -0.5rem;
}
.three-section {
  display: flex;
}
.inner_third {
  background: #f5f5f5;
  margin-left: 1.5rem;
  padding-top: 3rem;
}
.inner_third > p {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 2.5rem;
  letter-spacing: 0em;
  color: #33475b;
}
.three-section {
  display: flex;
  justify-content: center;
}
.double {
  margin: 1.3rem;
}
.on-img > img {
  max-width: 350px;
  height: 220px;
}
.too-img > img {
  max-width: 350px;
  margin-top: 1rem;
  height: 220px;
}
.single_big > img {
  max-width: 300px;
  margin-top: 1rem;
  z-index: 3;
  margin-bottom: -120px;
}

.login > img {
  max-width: 350px;
  height: 220px;
  margin-top: 1rem;
}
.five-cross > img {
  max-width: 350px;
  height: 220px;
}
.triple {
  margin: 1.3rem;
}
/* **************************************** */
.fourth-plate {
  background-color: white;
  /* text-align: center; */
  display: flex;
  padding-bottom: 4rem;
}
.left-card-color {
  width: 60%;
  margin-top: 12rem;
  padding-left: 10rem;
}
.font {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding-top: 20px;
  padding-left: 6rem;
  color: #33475b;
}
.ywo {
  display: flex;
  padding-top: 40px;
  padding-left: 6rem;
}
.hoo {
  font-size: 40px;
  color: #33475b;
  font-family: "Arial";
  font-weight: 400;
  margin-right: 5rem;
}
.dark {
  font-size: 47px;
  color: #33475b;
  font-family: "Arial";
  font-weight: 700;
  margin-right: 5rem;
}
.medium {
  font-size: 40px;
  color: #33475b;
  font-family: "Arial";
  font-weight: 600;
}
.tool {
  padding-top: 4rem;
  font-size: 30px;
  font-family: "Arial";
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  color: #33475b;
}
.sub {
  padding-left: 6rem;
}
#blue-circle {
  max-width: 50px;
  height: 50px;
  margin-top: 44px;
}
.right-card-color {
  width: 40%;
  text-align: center;
  margin-top: 12rem;
}
.right-card-color > p {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
}
#red-box {
  max-width: 400px;
  height: 250px;
}
.roboto {
  margin-top: 13px;
  font-size: 20px;
  font-weight: 500;
  color: #33475b;
}
.prompt {
  margin-top: 3px;
  font-size: 22px;
  font-weight: 600;
  color: #33475b;
}
.node {
  margin-top: 13px;
  font-size: 21px;
  font-weight: 500;
  color: #33475b;
}
.vl {
  border-left: 1px solid #33475b;
  height: 400px;
  padding-right: 3rem;
}
